
[School Drive -May ]
type = drive
scope = drive
token = {"access_token":"ya29.a0ARrdaM-sYzKwbSRPEVFosZtmetrnvvP1PfXZJBLiU2qfWO5qJGJr0AuwoQOF73AqYcrDemfnVBcGeVcYdVfTjUWcPyPZFSD9r8SEfr09FvfJd-67OnbQ7Hy1ZGIt_2El_OPcFhh2Z-UEqDD8LLxcWSSIDsbd","token_type":"Bearer","refresh_token":"1//0gyVQGbV5dmF9CgYIARAAGBASNwF-L9IrOjmu7bHauM2qG-ehjm2OwpN3pt0uEbqchoBf4KPLEzo4EdURgizxvYlKg2XAhJT4JZ4","expiry":"2021-07-07T12:28:54.6176126+05:30"}
team_drive = 0AGKdHvosBEwKUk9PVA
root_folder_id = 1Q6Y7hZJqSXQtMrFwbcvaGVLLpRW2upCE

[School Drive -June ]
type = drive
scope = drive
token = {"access_token":"ya29.a0ARrdaM-sYzKwbSRPEVFosZtmetrnvvP1PfXZJBLiU2qfWO5qJGJr0AuwoQOF73AqYcrDemfnVBcGeVcYdVfTjUWcPyPZFSD9r8SEfr09FvfJd-67OnbQ7Hy1ZGIt_2El_OPcFhh2Z-UEqDD8LLxcWSSIDsbd","token_type":"Bearer","refresh_token":"1//0gyVQGbV5dmF9CgYIARAAGBASNwF-L9IrOjmu7bHauM2qG-ehjm2OwpN3pt0uEbqchoBf4KPLEzo4EdURgizxvYlKg2XAhJT4JZ4","expiry":"2021-07-07T12:28:54.6176126+05:30"}
team_drive = 0AGKdHvosBEwKUk9PVA
root_folder_id = 1Q7tJTz-HY9dpYio1euVS_Dv89nDTYNJT